.navbg {
    background-color:#323232;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
}

.menu li {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover, .menu li a:focus {
    opacity: .65;
}

